body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Wraps full todo list content */

.container {
  width: 400px;
  max-width: 100%;
  margin: 20px auto 40px;
  padding: 40px 20px;
  background-color: #f4f7fc;
}

/* Input Field Styling */
.todo-input {
  width: 75%;
}

input[type='text'] {
  border: 1px solid #ddd;
}

/* Input Field Button */
.add-todo {
  float: right;
  width: 20%;
}

/* Todo List */
.todo-list {
  background: #FFF; 
  font-size: 20px;
  margin: auto;
  padding: 0.5em 1em;
}

/* Individual Task */
.todo {
  display: block;
  padding: 1em 1em 1em 1em;
  border-bottom: solid 1px #ddd;
}

.todo-text {
  padding-left: 1em;
}

.delete-todo {
  height: 100%;
  float: right;
}