body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  height: 100vh;
  background-color: black;
}

/* Wraps full todo list content */
.container {
  width: 50%;
  background-color: white;
  min-width: 350px;
  position: absolute;
}

/* Input Field Styling */
.todo-input {
  width: 75%;
  color: #111111;
  position: relative;
}

/* Input Field Button */
.add-todo {
  position: relative;
  float: right;
  cursor: pointer;
  width: 20%;
}

/* Styling for individual todo list item */
.todo-item {
  background-color: purple;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
}

.delete-todo {
  height: 100%;
  border-radius: 5px;
}